.title_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 3.5rem;
    max-width: 30%;
    margin-left: 5%;
    padding-top: 5%;
    font-weight: bold;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(203, 202, 202);font-size: 1rem;
    font-size: 20px;
    padding-left: 5vw;
    padding-right: 65vw;
}

.steps {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
}